
.spell-progression {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('ui/UI_Journal_Line_Short.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.chupa-slot:last-child .spell-progression {
    background-image: url('./ui/UI_Journal_Line_Short_Last.png');
}

.chupa-slot.level-1 .spell-progression {
    background-image: url('./ui/UI_Journal_Line_Short_First.png');
}

.spell-progression span {
    width: 32px;
    height: 32px;
    background-image: url('./ui/UI_CharGen_GenderCircle_Black_Filled.png');
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spell-progression.new-caster-level span {
    background-image: url('./ui/UI_CharGen_GenderCircle_Black_FilledLight.png');
}

.spell-progression-slot {
    height: 40px;
}

tr:last-child td {
    border-bottom: solid gray 1px;
}

::deep a {
    color: black;
    font-weight: bold;
}

table.progression-table ::deep img {
    width: 55px;
    height: 55px;
}

::deep .badge-value {
    margin-right: 10px;
}

.slots-per-day ::deep td, th {
    border: 1px solid gray;
    width: 32px;
    height: 32px;
}

.chargen {
    background-image: url('./ui/UI_CharGen_Sheet.jpg');
    background-size: 100% 100%;
    padding: 10px 80px 50px 80px;
    z-index: 2;
    /*    position: relative;*/
    width: 1250px;
    min-height: 90vh;
}

.chargen-summary {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 30px;
}

.chargen-fluff {
    max-width: 600px;
    font-size: 120%;
    line-height: 115%;
}

.chargen-summary table td {
    border: 2px solid gray;
    padding: 8px;
    width: 140px;
    height: 30px;
}

.stat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .stat-box .badge-stat {
        width: 20px;
        height: 20px;
    }

    .stat-box ::deep span:nth-child(2) {
        color: darkred;
    }

    .stat-box ::deep span:nth-child(3) {
        font-weight: bold;
    }

.source-of-magic {
    text-align: center;
    max-height: 10px;
    height: 10px;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

table.progression-table {
    table-layout: fixed;
    /*    width: 1200px;*/
}

    table.progression-table td {
        max-height: 60px;
        height: 40px;
        width: 60px;
        text-align: center;
    }

    table.progression-table .level-header {
        border-image: url('./ui/UI_FrameIconSpellLine.png');
        border-image-slice: 27 27 27 27;
        border-image-width: 20px 20px 20px 20px;
        border-image-outset: 0px 0px 0px 0px;
        border-image-repeat: stretch stretch;
        border-style: solid;
        padding: 0;
        margin-left: -4px;
        margin-right: -5px;
    }



    table.progression-table .banner {
        width: 1290px;
        height: 50px;
        background-image: url('./ui/UI_BackgroundCaption.png');
        background-size: 100% 100%;
        margin-left: -20px;
        margin-right: -20px;
        text-align: left;
        vertical-align: middle;
        display: flex;
        align-items: center;
    }

.chupa-slot {
    border-left: 2px solid gray;
    min-width: 55px;
    max-width: 55px;
}

    .chupa-slot:last-child {
        border-right: 2px solid gray;
    }

.chupa-top {
    border-top: 1px solid gray;
}

.chupa-bottom {
    border-bottom: 1px solid gray;
}

.chupa-fake {
    min-width: 70px;
}

.chupa-slot:first-child + .chupa-slot {
    border-left: none;
}


.banner span {
    vertical-align: middle;
    padding-left: 60px;
    font-weight: bold;
    font-size: 130%;
}

.feature-selection {
    position: absolute;
    bottom: -4px;
    left: calc(100% - 22px);
    opacity: 0.8;

    width: 28px;
    height: 28px;

    background-image: url('./ui/UI_CharScreen_IconMark.png');
    background-size: 100% 100%;
}

.stat-icon-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
}

.feature-line-box {
    position: relative;
    width: 100%;
    height: 55px;
    max-height: 55px;
    top: -4px;
}

.feature-point-left {
    position: absolute;
    height: 14px;
    width: 14px;
    max-width: 14px;
    top: calc(50% - 7px);
    left: -8.5px;
    background-image: url('./ui/UI_CharScreen_Class_Point.png');
    background-size: 100% 100%;
    z-index: 4;
}
.feature-point-right {
    position: absolute;
    height: 14px;
    width: 14px;
    max-width: 14px;
    top: calc(50% - 7px);
    left: calc(100% - 4.5px);
    background-image: url('./ui/UI_CharScreen_Class_Point.png');
    background-size: 100% 100%;
    z-index: 4;
}

.feature-line {
    position: absolute;
    height: 55px;
    max-height: 55px;
    top: 2px;
    width: 60px;
    background-image: url('./ui/UI_Journal_Line_Short.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    margin-left: -2px;
}


.selection-badge {
    position: absolute;
    left: 4px;
    top: 4px;
    padding: 0;
}

.feature-added {
    position: absolute;
    bottom: -12px;
    left: calc(50% - 14px);

    width: 28px;
    height: 28px;

    background-image: url('./ui/UI_CharScreen_IconAdd.png');
    background-size: 100% 100%;
}

.feature-removed {
    position: absolute;
    bottom: -12px;
    left: calc(50% - 14px);

    width: 28px;
    height: 28px;

    background-image: url('./ui/UI_CharScreen_IconDelete.png');
    background-size: 100% 100%;
}

.rank-badge {
    top: 0%;
    right: 0%;
    left: auto;
    bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./icons-custom/r.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 22px;
    height: 20px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 30px;
}

.badge-stat {
    min-width: 26px;
    min-height: 26px;
    display: inline-block;
    background-size: 100% 100%;
    filter: invert() opacity(0.6);
}

.badge-bab {
    background-image: url('./ui/UI_Icon_Bab.png');
}
.badge-fort {
    background-image: url('./ui/UI_Icon_Fortitude.png');
}
.badge-reflex {
    background-image: url('./ui/UI_Icon_Reflex.png');
}
.badge-will {
    background-image: url('./ui/UI_Icon_Will.png');
}
.badge-hp {
    background-image: url('./ui/UI_Icon_HP.png');
}
.badge-magic {
    background-image: url('./ui/UI_Icon_Magic.png');
}

.progression-feature {
    padding: 0;
}
