
.spell-progression {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('ui/UI_Journal_Line_Short.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.chupa-slot:last-child .spell-progression {
    background-image: url('./ui/UI_Journal_Line_Short_Last.png');
}
.chupa-slot.level-1 .spell-progression {
    background-image: url('./ui/UI_Journal_Line_Short_First.png');
}

.spell-progression span {
    width: 32px;
    height: 32px;
    background-image: url('./ui/UI_CharGen_GenderCircle_Black_Filled.png');
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spell-progression.new-caster-level span {
    background-image: url('./ui/UI_CharGen_GenderCircle_Black_FilledLight.png');
}

.spell-progression-slot
{
    height: 40px;
}

tr:last-child td {
    border-bottom: solid gray 1px;
}

::deep a {
    color: black;
    font-weight: bold;
}

table.progression-table ::deep img {
    width: 55px;
    height: 55px;
}

::deep .badge-value {
    margin-right: 10px;
}

.slots-per-day ::deep td,th {
    border: 1px solid gray;
    width: 32px;
    height: 32px;
}

.chargen {
    background-image: url('./ui/UI_CharGen_Sheet.jpg');
    background-size: 100% 100%;
    padding: 10px 80px 50px 80px;
    z-index: 2;
/*    position: relative;*/
    width: 1250px;
    min-height: 90vh;
}

.chargen-summary {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 30px;
}

.chargen-fluff {
    max-width: 600px;
    font-size: 120%;
    line-height: 115%;
}

.chargen-summary table td {
    border: 1px solid gray;
    padding: 8px;
    width: 140px;
    height: 30px;
}

.stat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stat-box .badge-stat {
    width: 20px;
    height: 20px;
}

.stat-box ::deep span:nth-child(2) {
    color: darkred;
}
.stat-box ::deep span:nth-child(3) {
    font-weight: bold;
}

.source-of-magic {
    text-align: center;
    max-height: 10px;
    height: 10px;
    padding: 0;
    margin: 0;
    font-weight: bold;
}
