.page {
    position: relative;
    display: flex;
    overflow: hidden;
}

main {
    flex: 1;
    position: relative;
    left: 320px;
    overflow: auto;
}


.sidebar {
}

.wiki-sidebar {
    background-image: linear-gradient(180deg, rgb(230, 220, 200) 0%, rgb(230, 220, 200) 70%);
    width: 320px;
    min-width: 320px;
    height: 99vh;
    position: fixed;
    top: 0;
}


/*@media (min-width: 641px) {*/
/*.page {
    flex-direction: row;
}*/
/*}*/

.wiki-sidebar {
    overflow: auto;
}

wiki-sidebar:first-child {
    margin-top: 0px;
}

wiki-sidebar:last-child {
    margin-bottom: 0px;
}
