<div>

	<nav class="class-nav">
	@foreach (var item in Classes)
	{
		<div class="nav-item px-3">
			<NavLink class="class-nav-link" href="@item.Href" Match="NavLinkMatch.All">
				@item.Name
			</NavLink>
		</div>

	}

		@*
		<div class="nav-item px-3">
		<NavLink class="nav-link" href="weapons">
		<span class="oi oi-list-rich" aria-hidden="true"></span> Weapons
		</NavLink>
		</div>
		<div class="nav-item px-3">
		<NavLink class="nav-link" href="class-progression">
		<span class="oi oi-list-rich" aria-hidden="true"></span> Classes
		</NavLink>
		</div>
		*@
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	public class ClassLink {
		public readonly string Name;
		public string Href => $"class-progression/{Name}/Base";
		public ClassLink(string name) {
			Name = name;
		}
	}

	public List<ClassLink> Classes = new()
	{
		new("Alchemist"),
		new("Arcanist"),
		new("Barbarian"),
		new("Bard"),
		new("Bloodrager"),
		new("Cavalier"),
		new("Cleric"),
		new("Druid"),
		new("Fighter"),
		new("Hunter"),
		new("Inquisitor"),
		new("Kineticist"),
		new("Magus"),
		new("Monk"),
		new("Oracle"),
		new("Paladin"),
		new("Ranger"),
		new("Rogue"),
		new("Shaman"),
		new("Skald"),
		new("Slayer"),
		new("Sorcerer"),
		new("Warpriest"),
		new("Witch"),
		new("Wizard"),

	};

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
