.tooltip-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: help;
}

.mouse-trap {
    width: 100%;
    height: 100%;
}

/*.mouse-trap {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}
*/
.tooltip-body {
    visibility: hidden;
    position: absolute;
    width: 600px;
    top: 98%;
    max-height: 400px;
    left: 50%;
    margin-left: -300px;
    color: #222;
    text-align: center;
    padding: 20px 20px;
    border-radius: 6px;
    text-align: left;
    z-index: 10;
    opacity: 0;
    line-height: 140%;
    overflow: auto;
    font-size: 140%;
    font-style: normal;
    border-image: url('./ui/UI_BackgroundTooltipPaper.png');
    border-image-slice: 44 44 44 44 fill;
    border-image-width: 20px 20px 20px 20px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    border-style: solid;
    filter: drop-shadow(0px 0px 12px black);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltip-body.tooltip-above {
    bottom: 98%;
    top: initial;
}

.tooltip-body.tooltip-right {
    margin-left: 0;
    left: 10%;
}

.tooltip-body.tooltip-left {
    margin-left: 0;
    left: initial;
    right: 10%;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

/*span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
*/
.tooltip-wrapper:hover .tooltip-body {
    opacity: 1;
    visibility: visible;
    transition: opacity  0s linear 0.5s;
    transition: visibility  0s linear 0.5s;
}

.tooltip-body ::deep .mini-header-brick {
    background-image: url('./ui/UI_QuestNotification_BackgroundCaption.png');
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    padding-top: 8px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
}

.tooltip-body ::deep .header-brick {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-top: 8px;
}

.tooltip-body ::deep .brick-flow-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip-body ::deep .header-brick div {
    display: inline-block;
}

.tooltip-body ::deep .header-brick img {
    display: block;
}

.tooltip-body ::deep .header-brick h4 {
    margin-left: 10px;
    font-size: 120%;
}

.tooltip-body ::deep p {
    margin: 0;
    padding: 0px 8px;
}
